@import url("https://fonts.googleapis.com/css2?family=Allura&family=Charm&family=Great+Vibes&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1 {
  margin: 0;
}
ul {
  list-style: none;
}
