.signes {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
  background-color: rgb(217, 169, 169);
}
.sing {
  margin: 20px;
  text-align: center;
  color: #663e84;
  font-size: 24px;
}
.singImg {
  border-radius: 50%;
  margin-bottom: 10px;
  border: 5px solid;
  border-color: white;
  box-shadow: 2px 6px 10px 0px #000000ad;
}
