.menu {
  display: flex;
  margin-left: 5.5rem;
  list-style-type: none;
  padding: 0;
}
.heroImg {
  background-image: url("/hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
}

.signes {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
}
.sing {
  margin: 20px;
  text-align: center;
  color: #663e84;
  font-size: 24px;
}
.singImg {
  border-radius: 50%;
  margin-bottom: 10px;
  border: 7px solid white;
  box-shadow: 2px 6px 10px 0px #000000ad;
}
.menuLinkA:hover {
  color: #663e84;
}
.menuLinkA:hover::before {
  content: "";
  border-bottom: 6px solid #292d7c;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 3px;
  box-shadow: 2px 6px 10px 0px #292d7c;
}

.menuLinkA {
  position: relative;
  text-decoration: none;
  padding: 14px 0;
  margin: 10px;
  color: #545454;
  font-size: 24px;
  text-align: center;
}
